
h3{
    color:rgb(0, 0, 0);
    padding-top:15px;
    font-size:65px;
}

h4{
    color:rgb(0, 0, 0);
    padding-top:5px;
    font-size:45px;
    font-family: help,sans-serif;
}
body{
    background-color: rgb(199, 3, 3);
    background-image: url(../Pictures/sparkleimproved3.png), url(../Pictures/lessStatic.png);
    background-attachment:scroll, fixed;
    background-repeat: repeat, no-repeat;
    background-position: -20px,0px;
    
}

h1{
    font-family: Help, sans-serif;
}

#title{
    text-align:center;
    color:black;
    z-index: 1;
}

#title a{
    color:black;
    text-decoration: none;
}


#title a:hover{
    color: #4a695e
  }


.links{
    font-family: squeal,chomsky, sans-serif;
    color:black;
    text-align: center;
    text-transform:capitalize;
    z-index: 2;
}
.links a{
    color:rgb(8, 7, 7);
    background-color: rgba(169, 169, 169, 0.4);
}
.links a:hover{
    color:rgb(24, 142, 100);
  }


.backing{
    text-align:center;
    color:black;
}

h1 .backing{
    background-color: rgba(169, 169, 169, 0.4);
}


hr.curvedown { 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-image: none;
  } 
  hr.curvedown:before { 
    display: block; 
    content: ""; 
    border-style: solid; 
    border-color: #8c8b8b; 
  }
  
  hr.curveup { 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-image: none;
  } 
  hr.curveup:before { 
    display: block; 
    content: ""; 
    border-style: solid; 
    border-color: #8c8b8b; 
  }

  #guy{
    margin-left:-10px; float:left; filter: saturate(2);
  }

  #names{
    font-family: squeal, monospace;
  }

  .tours{
    background-image: url(../Pictures/calebjpg.jpeg);
    background-position-y: 50%;
  }
  #picture{
    backdrop-filter: blur(20px);
  }

  #tour{
    text-align: center;
    color:#070d0b;
    z-index: 9999;
    float:left;
    position: sticky;
    /*backdrop-filter: contrast(100%), blur(50px);*/
    
    
  }

  #tour ul{
    list-style: number;
    font-family: squeal, monospace;
    font-size: 2em;
  }

  #box{
    background-color: rgba(255, 255, 255, 0.45);
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    /*backdrop-filter: blur(10px);*/
    
  }

  #showName1{
    color:#073124
  }
  #showName2{
    
    color:#700000
  }
  #showName3{
    line-height: 1.5em;
    color:#073124
  }


  /*Below is code specifically for MUSCI page*/

  #danger{
    background-color:rgb(124, 22, 22);
    margin:auto;
    font-family:help, monospace;
    }
    h3{
        text-align:center;
    }

    #pentagon{
        background-color:rgb(148, 88, 175);
        font-family:fava, monospace;
        float:left;
    }

    #fasten{
        background-color:rgb(181, 160, 70);
        font-family:husky, monospace;
        float:right;
    }

    #seperator{
        border: 100px solid rgb(204, 73, 73);
        border-radius: 5px;
        border-image:url(../Pictures/Untitled.png) 30 repeat;
    }





    /*about me page*/

    .content{
        background-image: url(../Pictures/calebtranslesshair.png);
        transform: scaleY(-1);
        z-index:3;
        float:left;
        filter:brightness(60%)
    }
    
    #texts{
        clear:right;
        background-color: rgba(169, 169, 169, 0.4);
        box-shadow: 0px 8px 24px 1px rgba(0, 0, 0, 0.28);
    }
    
    #links{
      font-family: squeal, sans-serif;
      color:#070d0b;
      text-align: center;
      text-transform:capitalize;
      z-index: 2;
    }
    #links a{
    color:#070d0b;
      background-color: rgba(169, 169, 169, 0.4);
    }
    
    #links a:hover{
    color:rgb(24, 142, 100);
    }
    
    
    #gliblert{
      margin:auto;
    }
    #gliblert img{
      float:left;
      /*border: 4px solid #71c270*/
    
    }
    
    #gliblert h1{
      text-align: center;
      
    
    }
    
    #gliblert p{
      text-align: center;
      font-family: monospace;
      font-weight: bolder;
    }


    #dangerImg{
        display: flex; margin:auto; width: 700px; 
    }