body{
    background-color: #8a6f9b;
    background-image: url(../Pictures/sparkleimproved3.png);
    background-attachment:scroll, fixed;
    background-repeat: repeat, no-repeat;
    height:fit-content;
}

h1{
    font-family: blueOcean, sans-serif;
}

#title{
    text-align:center;
    color:rgb(179, 158, 158);
    z-index: 1;
}

#title a{
  color:#070d0b;
    text-decoration: none;
}

#title a:hover{
  color: #4a695e
}

.links{
    font-family: something, sans-serif;
    color:#070d0b;
    text-align: center;
    text-transform:capitalize;
    z-index: 2;
}
.links a{
  color:#070d0b;
    background-color: rgba(169, 169, 169, 0.4);
    box-shadow: 0px 8px 24px 1px rgba(0, 0, 0, 0.28);
}

.links a:hover{
  color:rgb(24, 142, 100);
}

hr{
    filter:sepia(190%);
    filter:invert(20%);
    filter:contrast(50%);
    filter:hue-rotate(180deg)
}

.backing{
    text-align:center;
    color:#070d0b;
}

h1.backing{
    background-color: rgba(169, 169, 169, 0.4);
}



  #guy{
    filter: contrast(50%);
    transform: rotate(220deg);
    z-index: 9999;
    position: fixed;
    filter: drop-shadow(16px 16px 20px rgb(0, 204, 255)) invert(20%);
    margin-left:85%;
      margin-top:10%;
  }

  #names{
    font-family: valentine, monospace;
  }

  .tours{
    background-image: url(../Pictures/calebjpg.jpeg);
    background-position-y: 50%;
  }
  #picture{
    backdrop-filter: blur(20px);
  }

  #tour{
    text-align: center;
    color:#070d0b;
    z-index: 9999;
    float:left;
    position: sticky;
    /*backdrop-filter: contrast(100%), blur(50px);*/
    
    
  }

  #tour ul{
    list-style: number;
    font-family: valentine, monospace;
    font-size: larger;
  }

  #box{
    background-color: rgba(255, 255, 255, 0.45);
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    /*backdrop-filter: blur(10px);*/
    
  }

  #showName1{
    color:#073124
  }
  #showName2{
    
    color:#700000
  }
  #showName3{
    line-height: 1.5em;
    color:#073124
  }


  /*BELOW IS CODE SPECIFIED FOR MUSIC PAGE*/

  #seperator{
    filter:sepia(190%);
    filter:invert(20%);
    filter:contrast(50%);
    filter:hue-rotate(180deg)
  }

  #display{
    background-color:rgb(197, 138, 194);
    margin:auto;
    height:400px;
    font-family:something, monospace;
  }
  #danger{
    background-color:rgb(124, 22, 22);
    margin:auto;
    font-family:help, monospace;
  }


  h3{
      text-align:center;
  }

  #pentagon{
      background-color:rgb(170, 107, 170);
      font-family:fava, monospace;
      float:left;
  }

  #fasten{
      background-color:rgb(181, 160, 70);
      font-family:husky, monospace;
      float:right;
  }




  /*this code is for the about me page*/

  .content{
    background-image: url(../Pictures/calebtranslesshair.png);
    transform: scaleY(-1);
    z-index:3;
    float:left;
    filter:brightness(60%)
}

#texts{
    clear:right;
    background-color: rgba(169, 169, 169, 0.4);
    box-shadow: 0px 8px 24px 1px rgba(0, 0, 0, 0.28);
    overflow-y: scroll;
    scrollbar-color: red;
    scroll-snap-align: 20%;
    scroll-behavior:auto;
    scroll-snap-type:proximity;
    scroll-snap-stop: always;
}

#links{
  font-family: something, sans-serif;
  color:#070d0b;
  text-align: center;
  text-transform:capitalize;
  z-index: 2;
}
#links a{
color:#070d0b;
  background-color: rgba(169, 169, 169, 0.4);
}

#links a:hover{
color:rgb(24, 142, 100);
}


#gliblert{
  margin:auto;
}
#gliblert img{
  float:left;
  /*border: 4px solid #71c270*/

}

#gliblert h1{
  text-align: center;
  

}

#gliblert p{
  text-align: center;
  font-family: monospace;
  font-weight: bolder;
}
#danger{
  background-color:rgb(124, 22, 22);
  width:800px;
  height:1000px;
  margin: auto;
  font-family:help, monospace;
}




/*This code is for the specified music page*/

#new{
  background-color:rgba(171, 154, 173, 0.541);
  margin:auto;
  font-family:something, monospace;
}

